.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdde1;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-table-cell-border-color: #ecf0f1;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, #2980b9, #1f6391);
    -fx-background-radius: 8px 8px 0 0;
}

.table-view .column-header, .table-view .table-column {
    -fx-alignment: CENTER;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 8px;
}

.table-view .cell {
    -fx-alignment: CENTER_LEFT;
    -fx-font-size: 13px;
    -fx-padding: 6px;
    -fx-text-fill: #2c3e50;
}

.table-view .row-cell {
    -fx-background-color: #ffffff;
}

.table-view .row-cell:odd {
    -fx-background-color: #f4f6f7;
}

.table-view .row-cell:hover {
    -fx-background-color: #dfe6e9;
}

.table-view .row-cell:filled:selected {
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
}

.table-view .row-cell:filled:selected .text {
    -fx-fill: white;
}
.titled-pane {
    -fx-background-color: #ecf0f1;
    -fx-text-fill: #2c3e50;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
}

#detailsPane .label {
    -fx-font-size: 13px;
}

#detailsPane .label:filled {
    -fx-font-weight: bold;
    -fx-text-fill: #2980b9;
}
