/*Style Fahazavana*/
#sidebar{
    -fx-border-color: #9ca6c5;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-width: 1;

    -fx-background-color: linear-gradient(to bottom, #e6f7ff, rgb(255, 255, 255));


}
#sidebar Label {
    -fx-text-fill: rgba(30, 39, 45, 0.91);
    -fx-font-family: "Times New Roman";
    -fx-font-size: 15;
}
#useLettre{
    -fx-font-size: 25;
}
#userImage{
    -fx-background-color: white;
}
.conteneur{
    -fx-border-color: #9ca6c5;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-width: 1;
    -fx-background-color: #ffffff;
}
#entete{
    -fx-border-color: transparent transparent #9ca6c5 transparent;
    /*-fx-background-color: linear-gradient(to right, #e6f7ff, rgb(255, 255, 255));*/
}
.labelEntete {
    -fx-font-family: "Goudy Old Style";
    -fx-font-size: 16;
    -fx-text-fill: rgba(6, 56, 86, 0.91);
}
#footer{
    -fx-border-color:  #9ca6c5 transparent transparent transparent;
}
#Faneva Label{
    -fx-font-family: "Goudy Old Style";
    -fx-font-size: 13;
    -fx-text-fill: rgba(65, 3, 13, 0.91);
}
.handicap{
    -fx-font-family: "Book Antiqua";
    -fx-font-size: 15;
    -fx-underline: true;
    -fx-text-fill: rgba(6, 56, 86, 0.91);
}
.fz{
    -fx-font-family: "Book Antiqua";
    -fx-font-size: 14;
    -fx-text-fill: rgba(3, 31, 45, 0.91);
}

#bgimage{
    -fx-opacity: 0.5;
}
#anneeScolaire{
    -fx-font-family: "Castellar";
    -fx-font-size: 35;
}
#boutonImport{
    -fx-background-color: linear-gradient(to right, rgb(220, 245, 208), rgb(255, 255, 255));
    -fx-pref-width: 70;
}
#boutonImport:hover{
    -fx-background-color: white;
    -fx-text-fill: rgba(9, 102, 155);
    -fx-underline: true;
    -fx-font-size: 13;

}
#boutonExport:hover{
    -fx-background-color: white;
    -fx-text-fill: rgba(9, 102, 155);
    -fx-underline: true;
    -fx-font-size: 13;

}
#boutonExport{
    -fx-background-color: linear-gradient(to right, rgba(227, 82, 11, 0.3), rgb(255, 255, 255));
    -fx-pref-width: 70;
}
.menuRapid{
    -fx-font-family: "Book Antiqua";
    -fx-font-size: 14;
    -fx-text-fill: rgb(6, 58, 93);



}

.menuRapid:hover{
    -fx-text-fill: rgb(220, 245, 208);
    -fx-underline: true;
}

#nomUtilisateur:hover{
    -fx-text-fill: rgb(220, 245, 208);
    -fx-underline: true;
}
.text1{
    -fx-font-size: 100;
}
#ChartView{
    -fx-border-color: #9ca6c5;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-width: 1;
}
.menuSt{
    -fx-effect: dropshadow(gaussian, rgba(201, 202, 208, 0.4), 5, 0.5, 2, 2);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: white;
    -fx-pref-width: 250;
}

.combo{
    -fx-pref-width: 100;
}
.titre{
    -fx-font-family: "Castellar";
    -fx-font-size: 20;
}
.courbe{
    -fx-font-family: "Book Antiqua";
    -fx-font-size: 17;
    -fx-underline: true;
    -fx-text-fill: rgba(6, 56, 86, 0.91);
}
.petitlegende{
    -fx-font-size: 11;
}
.valuelegende{
    -fx-font-size: 16;
}
/* Style Tolotra*/
.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdde1;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-table-cell-border-color: #ecf0f1;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, #2980b9, #1f6391);
    -fx-background-radius: 8px 8px 0 0;
}

.table-view .column-header, .table-view .table-column {
    -fx-alignment: CENTER;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 8px;
}

.table-view .cell {
    -fx-alignment: CENTER_LEFT;
    -fx-font-size: 13px;
    -fx-padding: 6px;
    -fx-text-fill: #2c3e50;
}

.table-view .row-cell {
    -fx-background-color: #ffffff;
}

.table-view .row-cell:odd {
    -fx-background-color: #f4f6f7;
}

.table-view .row-cell:hover {
    -fx-background-color: #dfe6e9;
}

.table-view .row-cell:filled:selected {
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
}

.table-view .row-cell:filled:selected .text {
    -fx-fill: white;
}
.titled-pane {
    -fx-background-color: #ecf0f1;
    -fx-text-fill: #2c3e50;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
}

#detailsPane .label {
    -fx-font-size: 13px;
}

#detailsPane .label:filled {
    -fx-font-weight: bold;
    -fx-text-fill: #2980b9;
}
/*Style Princy*/